---
---

{%  include header.html %}

<div class="container">
    <div class="row justify-content-md-center">

        <div class="col col-lg-8 bg-light border border-white">

            <h1 class="page-title">Keep in touch</h1>
            <hr>

            <h2>Want to stay up to date?</h2>
            <p>Follow us on <a href="https://twitter.com/kernsuite">twitter</a></p>

            <hr>

            <h2>Having an issue with a package?</h2>
            <p>Open an issue on the <a href="https://github.com/kernsuite/packaging">issue tracker</a></p>

            <hr>

            <h2>Anything else?</h2>
            <p>drop us a line on <a href="mailto:packaging@kernsuite.info">packaging@kernsuite.info</a></p>


        </div>
    </div>
</div>

{% include footer.html %}