---
---

{%  include header.html %}

<div class="container">
    <div class="row justify-content-md-center">

        <div class="col col-lg-8 bg-light border border-white">

            <h1 class="page-title">News and release notes</h1>

            <hr>

            <h2>KERN-4</h2>
            <p>release date: <b>not yet released</b></p>

            <h5>Changes since KERN-3</h5>

            <ul>
                <li>Many new packages from the <a href="https://seti.berkeley.edu/">Berkely SETI</a> project added.</li>
                <li>Various packages of KERN ended up in Debian and in Ubuntu 18.04. This includes casacore, aoflagger
                    and wsclean
                </li>
            </ul>

            <hr>

            <h2>KERN-3</h2>
            <p>Release date: <b>November 27 2017</b>.</p>

            <h5>Changes since KERN-2</h5>

            <ul>
                <li> Update to casacore 2.4.0</li>
                <li> All other packages have been updated</li>
                <li> Various new packages have been added</li>
            </ul>

            <hr>

            <h2>KERN-2</h2>
            <p>
                Release date: <b>March 13 2017</b>.
            </p>
            <h5>Changes since KERN-1</h5>

            <ul>
                <li> Update to casacore 2.2.0</li>
                <li> added stripped down version of NRAO CASA called casalite. Note this CASA still doesn't
                    integrate
                    with the system python.
                </li>
                <li> All packages updated to the latest versions</li>
                <li> Split of LOFAR package in smaller packages</li>
                <li> wsclean now contains LOFAR beam model</li>
                <li> Added various new packages</li>
            </ul>

            <hr>

            <h2>KERN-1</h2>
            <p>
                Release date: <b>August 11 2016</b>.
            </p>
            <hr>
        </div>
    </div>
</div>

{% include footer.html %}